{% load static %}
<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="{% static 'jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'jquery.cookie.js' %}"></script>
	<link rel="stylesheet" type="text/css" href=" {% static 'bootstrap.min.css' %}">
	<title></title>
</head>
<body>

	<div class="container p-3 mt-3 mb-0 bg-dark text-white text-center" >
		<h1>Welcome to my BlogPost</h1>
		<p>Pic any post and comment as you want</p>
	</div>
	<nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-center pt-0 mb-3">
	  <ul class="navbar-nav">
	    <li class="nav-item active">
	      <a class="nav-link" href="#">Home</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="#">Discover</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="#">Create Post</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link " href="#">Contact</a>
	    </li>
	  </ul>
</nav>

	

</body>
<script type="text/javascript">

	
</script>
</html>

